## 기초데이터과학 (01분반) 

## Programming assignment 04

### 1. 미국의 아기 이름 데이터로 아래 문제에 맞게 코드를 작성하세요.

In [1]:
import pandas as pd

# 주어진 데이터 생성
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')

#### 1-1. 2014년도에 태어난 여자 아이('F')의 데이터만 추출하여 전체 수와 앞 5개 행을 출력하세요.

In [2]:
# 2014년 여자 아이 데이터 추출


# 전체 수 출력


# 앞 5개 행 출력

전체 수:
51030

앞 5개 행:
      Unnamed: 0     Id      Name  Year Gender State  Count
2173       13522  13523      Emma  2014      F    AK     50
2174       13523  13524    Olivia  2014      F    AK     47
2175       13524  13525    Sophia  2014      F    AK     43
2176       13525  13526    Aurora  2014      F    AK     35
2177       13526  13527  Isabella  2014      F    AK     33

#### 1-2. 이름으로 데이터를 오름차순 정렬하고, 연도는 내림차순 정렬하세요. 이후 정렬 순서를 바꿔보세요.

In [3]:
# 이름은 오름차순 정렬, 연도는 내림차순 정렬


# 결과 출력


# 이름은 내림차순 정렬, 연도는 오름차순 정렬


# 결과 출력

        Unnamed: 0       Id    Name  Year Gender State  Count
695768     3867935  3867936   Aaban  2014      M    NY      6
693699     3865866  3865867   Aaban  2013      M    NY      6
138678      709855   709856   Aadan  2014      M    CA      5
123846      695023   695024   Aadan  2009      M    CA      6
120728      691905   691906   Aadan  2008      M    CA      7
...            ...      ...     ...   ...    ...   ...    ...
867512     4919547  4919548  Zyriah  2009      F    TX      5
862166     4914201  4914202  Zyriah  2008      F    TX     10
235986     1238450  1238451  Zyriah  2007      F    GA      5
858842     4910877  4910878  Zyriah  2007      F    TX      8
855869     4907904  4907905  Zyriah  2006      F    TX      6

[1016395 rows x 7 columns]
        Unnamed: 0       Id   Name  Year Gender State  Count
209946     1139030  1139031   Zyon  2004      M    FL      8
248962     1312190  1312191   Zyon  2004      M    GA     11
437473     2410418  2410419   Zyon  2004      M    MD      5
808989     4569853  4569854   Zyon  2004      M    SC      7
836313     4743335  4743336   Zyon  2004      M    TN      5
...            ...      ...    ...   ...    ...   ...    ...
816467     4577331  4577332  Aaden  2014      M    SC      6
911851     5075455  5075456  Aaden  2014      M    TX     23
957677     5295963  5295964  Aaden  2014      M    VA      8
138678      709855   709856  Aadan  2014      M    CA      5
695768     3867935  3867936  Aaban  2014      M    NY      6

[1016395 rows x 7 columns]

#### 1-3. 2010년에 태어난 남아 중 출생아 수가 1,000명 이상인 이름들을 찾아 수가 많은 순서로 정렬하세요.

In [3]:
# 2010년에 태어난 남아 이름 중 출생수가 1000이상인 행 추출


# 출생아 수가 많은 순서로 정렬


# 결과 출력

        Unnamed: 0       Id       Name  Year Gender State  Count
124544      695721   695722      Jacob  2010      M    CA   3347
124545      695722   695723     Daniel  2010      M    CA   3131
124546      695723   695724    Anthony  2010      M    CA   2858
124547      695724   695725  Alexander  2010      M    CA   2601
124548      695725   695726      Angel  2010      M    CA   2534
...            ...      ...        ...   ...    ...   ...    ...
124591      695768   695769     Justin  2010      M    CA   1023
124592      695769   695770       Liam  2010      M    CA   1020
219613     1148697  1148698  Alexander  2010      M    FL   1020
900630     5064234  5064235     Samuel  2010      M    TX   1020
900631     5064235  5064236      Mason  2010      M    TX   1002

[104 rows x 7 columns]

#### 1-4. 연도별 출생 인구 수를 성별로 구분하여 총합을 구하세요.

In [4]:
# 연도별 성별 그룹화


# 출생수 총합 계산


# 결과 출력

Year  Gender
2004  F         1523496
      M         1770488
2005  F         1528165
      M         1777150
2006  F         1564886
      M         1822851
2007  F         1576648
      M         1835769
2008  F         1544411
      M         1795907
2009  F         1493172
      M         1738944
2010  F         1439346
      M         1677202
2011  F         1422539
      M         1656606
2012  F         1422020
      M         1651838
2013  F         1419351
      M         1647092
2014  F         1446259
      M         1667352
Name: Count, dtype: int64

#### 1-5. 1-4에서 구한 연도별 성별 출생 인구 수를 이용하여 여아, 남아 비율을 구하세요.

In [5]:
# 1-4에서 구한 연도별 성별 출생수 합계 데이터를 이용하여 여아 비율 계산


# 1-4에서 구한 연도별 성별 출생수 합계 데이터를 이용하여 남아 비율 계산


# 결과 출력

여아:
Year
2004    46.250862
2005    46.233566
2006    46.192665
2007    46.203263
2008    46.235448
2009    46.197971
2010    46.183983
2011    46.199156
2012    46.261734
2013    46.286561
2014    46.449573
Name: Count, dtype: float64
남아:
Year
2004    53.749138
2005    53.766434
2006    53.807335
2007    53.796737
2008    53.764552
2009    53.802029
2010    53.816017
2011    53.800844
2012    53.738266
2013    53.713439
2014    53.550427
Name: Count, dtype: float64

### 2. 타이타닉 승객 정보 데이터로 아래 문제에 맞게 코드를 작성하세요.

In [7]:
import pandas as pd

# 주어진 데이터 생성
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

#### 2-1. 파생변수 추가: SibSp(형제자매/배우자 수)와 Parch(부모/자녀 수)를 더하고, 본인을 포함한 FamilySize 열을 추가하세요.

In [8]:
# SibSp(형제자매/배우자 수)와 Parch(부모/자녀 수)를 더하고, 본인을 포함한 FamilySize 열을 추가


# 결과 출력(사용한 열과 FamilySize 열만 출력)

     SibSp  Parch  FamilySize
0        1      0           2
1        1      0           2
2        0      0           1
3        1      0           2
4        0      0           1
..     ...    ...         ...
886      0      0           1
887      0      0           1
888      1      2           4
889      0      0           1
890      0      0           1

[891 rows x 3 columns]

#### 2-2. 파생변수 추가: Age(나이)가 20세 미만이면 Child, 이상이면 Adult값을 갖는 AgeGroup 열을 추가하세요.

In [9]:
import numpy as np

# AgeGroup 열 추가


# 결과 출력(사용한 열과 AgeGroup 열만 출력)

      Age AgeGroup
0    22.0    Adult
1    38.0    Adult
2    26.0    Adult
3    35.0    Adult
4    35.0    Adult
..    ...      ...
886  27.0    Adult
887  19.0    Child
888   NaN    Adult
889  26.0    Adult
890  32.0    Adult

[891 rows x 2 columns]

#### 2-3. 객실 등급(Pclass)별 생존율을 계산하세요 (agg()를 활용하여 Survival_rate 컬럼 변수에 계산 결과 추가).

In [10]:
# 등급별 생존율 계산
# Survived 컬럼이 0 또는 1의 값을 가지고 있고 이것이 생존여부를 나타냄. 0: 사망, 1: 생존


# 결과 출력

        Survival_rate
Pclass
1            0.629630
2            0.472826
3            0.242363

#### 2-4. 객실 등급 및 성별에 따른 평균 나이와 생존율을 구하세요.

In [11]:
# 객실 등급과 성별로 그룹화


# Mean_age에는 평균 나이, Survival_rate에는 평균 생존율을 계산하여 할당


# 결과 출력

                Mean_age  Survival_rate
Pclass Sex
1      female  34.611765       0.968085
       male    41.281386       0.368852
2      female  28.722973       0.921053
       male    30.740707       0.157407
3      female  21.750000       0.500000
       male    26.507589       0.135447

### 3. 와인 품질 데이터로 아래 문제에 맞게 코드를 작성하세요.

In [12]:
import pandas as pd
import seaborn as sns
import numpy as np

# 주어진 데이터 생성
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv', sep=';')

print(df.head())

   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.4              0.70         0.00             1.9      0.076
1            7.8              0.88         0.00             2.6      0.098
2            7.8              0.76         0.04             2.3      0.092
3           11.2              0.28         0.56             1.9      0.075
4            7.4              0.70         0.00             1.9      0.076

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 11.0                  34.0   0.9978  3.51       0.56
1                 25.0                  67.0   0.9968  3.20       0.68
2                 15.0                  54.0   0.9970  3.26       0.65
3                 17.0                  60.0   0.9980  3.16       0.58
4                 11.0                  34.0   0.9978  3.51       0.56

   alcohol  quality
0      9.4        5
1      9.8        5
2      9.8        5
3      9.8        6
4      9.4        5

#### 3-1. 와인 품질 등급 변수(quality_label) 변수를 생성하세요.

In [14]:
# 와인 품질 등급 변수(quality_label) 변수 생성하여 high 또는 low 값 할당
# quality 값이 6보다 크면 high, 그렇지 않으면 low 


# 결과 출력(quality와 quality_label 열만 출력)

      quality quality_label
0           5           low
1           5           low
2           5           low
3           6           low
4           5           low
...       ...           ...
1594        5           low
1595        6           low
1596        6           low
1597        5           low
1598        6           low

[1599 rows x 2 columns]

#### 3-2. 품질 등급(quality_label)별 화학 성분(alcohol, pH)의 평균을 비교해보세요.

In [15]:
# 품질 등급으로 그룹화(quality_label 활용)


# 각 그룹의 알코올 도수(alcohol)와 산성도(pH)의 평균 계산


# 결과 출력

               Mean_alcohol   Mean_pH
quality_label
high              11.518049  3.288802
low               10.251037  3.314616

#### 3-3. 12도 이상의 와인들에 대한 분석을 진행하시오(품질 등급으로 나누어 성분 비교).

In [16]:
# 알코올 도수가 12도 이상인 와인을 품질 등급으로 그룹화


# 각 그룹의 fixed acidity(고정된 산도)와 volatile acidity(휘발성 산도)의 평균 계산



# 결과 출력

               mean_fixed_acidity  mean_volatile_acidity
quality_label
high                     8.073333               0.429133
low                      7.749425               0.466149

### 4. 타이타닉 승객 정보 데이터로 아래 문제에 맞게 코드를 작성하세요.

In [17]:
import pandas as pd

# 주어진 데이터 생성
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

#### 4-1. 주어진 조건에 따라 데이터를 세로로 합쳐보세요.
- 1등석 승객과 3등석 승객 데이터로 분리하고, 분리된 데이터를 세로로 합치기

In [18]:
# 1등석 승객 데이터 추출


# 3등석 승객 데이터 추출


# 1등석과 3등석 승객 데이터 세로로 합치기


# 결과 출력(처음 2개 행과 마지막 2개 행)

   PassengerId  Survived  Pclass  \
1            2         1       1
3            4         1       1

                                                Name     Sex   Age  SibSp  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1

   Parch    Ticket     Fare Cabin Embarked
1      0  PC 17599  71.2833   C85        C
3      0    113803  53.1000  C123        S
     PassengerId  Survived  Pclass                                      Name  \
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
890    male  32.0      0      0      370376   7.75   NaN        Q

#### 4-2. 주어진 조건에 따라 데이터를 가로로 합쳐보세요.
- 생성된 가상의 데이터(만족도)를 일부 승객에 대해서만 합치기

In [19]:
# 가상의 만족도 데이터 생성
satisfaction_data = pd.DataFrame({
    'PassengerId': [1, 2, 3, 5, 7],
    'Satisfaction': ['Good', 'Excellent', 'Good', 'Bad', 'Excellent']
})

# PassengerId를 기준으로 데이터 가로로 합치기


# 결과 출력(처음 5개 행)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked Satisfaction
0      0         A/5 21171   7.2500   NaN        S         Good
1      0          PC 17599  71.2833   C85        C    Excellent
2      0  STON/O2. 3101282   7.9250   NaN        S         Good
3      0            113803  53.1000  C123        S          NaN
4      0            373450   8.0500   NaN        S          Bad

#### 4-3. 특정 행과 열을 추출해보세요.(loc, iloc 사용)

In [20]:
# 4-1의 결과에서 1등석 승객 중 처음 3개 행과 3등석 승객 중 마지막 3개 행 추출하여 결합


# 결과 출력


# 4-2의 결과에서 추가된 처음 2개 열과 마지막 열을 추출하고, 초기 5개 행만 선택


# 결과 출력

추출 결과:
     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
885          886         0       3
888          889         0       3
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch      Ticket     Fare Cabin Embarked
1        0    PC 17599  71.2833   C85        C
3        0      113803  53.1000  C123        S
6        0       17463  51.8625   E46        S
885      5      382652  29.1250   NaN        Q
888      2  W./C. 6607  23.4500   NaN        S
890      0      370376   7.7500   NaN        Q

추출 결과:
   PassengerId  Survived Satisfaction
0            1         0         Good
1            2         1    Excellent
2            3         1         Good
3            4         1          NaN
4            5         0          Bad

### 5. 자율 문제
- 1번 ~ 4번 문제의 데이터 중 하나를 선정하여 5주차까지 학습한 내용을 적용하여 데이터 처리한 결과를 보이시오.
  - 서브 문제 3개

#### 5-1. (문제 기술)

#### 5-2. (문제 기술)

#### 5-3. (문제 기술)