# 기초데이터과학 (01분반)

## 05-1. 데이터 가공 part 2

### Acknowledgement
#### 이 자료는 다음 서적의 내용을 바탕으로 작성되었음

- 쉽게 배우는 파이썬 데이터 분석. 이지스 퍼블리싱

- 데이터 가공에 사용되는 pandas 함수

|함수|기능|
|---|---|
|query( ) | 행 추출하기|
|df[ ] | 열(변수) 추출하기|
|df.loc[ ], df.iloc[ ] | 행/열 추출하기|
|sort_values( ) | 정렬하기|
|assign( ) | 변수 추가하기|
|groupby( ) | 집단별로 나누기|
|agg( ) | 통계치 구하기|
|merge( ) | 데이터 합치기(열)|
|concat( ) | 데이터 합치기(행)|

### 파생변수 추가하기
- 변수를 조합하거나 함수를 이용해 새 변수를 만들어 분석하는 경우
- df.assign( ) 함수 이용

- assign( ) 함수를 쓰지 않고 변수 추가하는 방법 (3주차 내용)

In [2]:
import pandas as pd

df = pd.DataFrame({'var1': [4,3,8],
                  'var2': [2,6,1]})
print(df)

   var1  var2
0     4     2
1     3     6
2     8     1

In [3]:
df['var_sum'] = df['var1'] + df['var2']

print(df)

   var1  var2  var_sum
0     4     2        6
1     3     6        9
2     8     1        9

- assign( ) 함수를 사용하는 경우 함수의 입력
  - 새 변수명 = 변수 만드는 식

In [5]:
exam = pd.read_csv('exam.csv')

# total이라는 변수를 추가하고 그 값은 math, english, science 값의 합계로 함
new_exam = exam.assign(total = exam['math'] + exam['english'] + exam['science']) 
print(new_exam)

    id  nclass  math  english  science  total
0    1       1    50       98       50    198
1    2       1    60       97       60    217
2    3       1    45       86       78    209
3    4       1    30       98       58    186
4    5       2    25       80       65    170
5    6       2    50       89       98    237
6    7       2    80       90       45    215
7    8       2    90       78       25    193
8    9       3    20       98       15    133
9   10       3    50       98       45    193
10  11       3    65       65       65    195
11  12       3    45       85       32    162
12  13       4    46       98       65    209
13  14       4    48       87       12    147
14  15       4    75       56       78    209
15  16       4    58       98       65    221
16  17       5    65       68       98    231
17  18       5    80       78       90    248
18  19       5    89       68       87    244
19  20       5    78       83       58    219

- 여러 파생 변수를 한 번에 추가하기

In [6]:
# total과 mean 변수 추가
new_exam2 = exam.assign(total = exam['math'] + exam['english'] + exam['science'], 
                        mean = (exam['math'] + exam['english'] + exam['science']) / 3)
print(new_exam2)

    id  nclass  math  english  science  total       mean
0    1       1    50       98       50    198  66.000000
1    2       1    60       97       60    217  72.333333
2    3       1    45       86       78    209  69.666667
3    4       1    30       98       58    186  62.000000
4    5       2    25       80       65    170  56.666667
5    6       2    50       89       98    237  79.000000
6    7       2    80       90       45    215  71.666667
7    8       2    90       78       25    193  64.333333
8    9       3    20       98       15    133  44.333333
9   10       3    50       98       45    193  64.333333
10  11       3    65       65       65    195  65.000000
11  12       3    45       85       32    162  54.000000
12  13       4    46       98       65    209  69.666667
13  14       4    48       87       12    147  49.000000
14  15       4    75       56       78    209  69.666667
15  16       4    58       98       65    221  73.666667
16  17       5    65       68       98    231  77.000000
17  18       5    80       78       90    248  82.666667
18  19       5    89       68       87    244  81.333333
19  20       5    78       83       58    219  73.000000

- assign( ) 함수에 numpy.where( ) 함수 적용하기

In [7]:
import numpy as np

# test 변수 추가, science 값이 60 이상이면 'pass', 아니면 'fail' 값 할당
new_exam3 = exam.assign(test = np.where(exam['science'] >= 60, 'pass', 'fail')) 
print(new_exam3)

    id  nclass  math  english  science  test
0    1       1    50       98       50  fail
1    2       1    60       97       60  pass
2    3       1    45       86       78  pass
3    4       1    30       98       58  fail
4    5       2    25       80       65  pass
5    6       2    50       89       98  pass
6    7       2    80       90       45  fail
7    8       2    90       78       25  fail
8    9       3    20       98       15  fail
9   10       3    50       98       45  fail
10  11       3    65       65       65  pass
11  12       3    45       85       32  fail
12  13       4    46       98       65  pass
13  14       4    48       87       12  fail
14  15       4    75       56       78  pass
15  16       4    58       98       65  pass
16  17       5    65       68       98  pass
17  18       5    80       78       90  pass
18  19       5    89       68       87  pass
19  20       5    78       83       58  fail

- 추가한 변수를 pandas 함수에 활용

In [8]:
# total 변수 추가, total 기준 정렬
new_exam4 = exam.assign(total = exam['math'] + exam['english'] + exam['science']).sort_values('total')
print(new_exam4)

    id  nclass  math  english  science  total
8    9       3    20       98       15    133
13  14       4    48       87       12    147
11  12       3    45       85       32    162
4    5       2    25       80       65    170
3    4       1    30       98       58    186
9   10       3    50       98       45    193
7    8       2    90       78       25    193
10  11       3    65       65       65    195
0    1       1    50       98       50    198
2    3       1    45       86       78    209
12  13       4    46       98       65    209
14  15       4    75       56       78    209
6    7       2    80       90       45    215
1    2       1    60       97       60    217
19  20       5    78       83       58    219
15  16       4    58       98       65    221
16  17       5    65       68       98    231
5    6       2    50       89       98    237
18  19       5    89       68       87    244
17  18       5    80       78       90    248

- lambda를 이용하여 데이터 프레임 이름 줄여 쓰기
  - assign( ) 함수를 사용할 때 데이터 프레임 이름을 반복해서 입력해야 하므로 번거로움
  - 이름이 긴 경우 그 이름을 일일이 입력하는 것이 불편할 수 있음
  - lambda를 이용하면 약어를 이용하여 코드를 간결하게 작성할 수 있음

In [9]:
long_name = pd.read_csv('exam.csv')

# long_name 직접 입력
l1 = long_name.assign(new = long_name['math'] + long_name['english'] + long_name['science'])
print(l1)

print("==================================================")

# long_name 대신 x 입력
l2 = long_name.assign(new = lambda x: x['math'] + x['english'] + x['science'])
print(l2)

    id  nclass  math  english  science  new
0    1       1    50       98       50  198
1    2       1    60       97       60  217
2    3       1    45       86       78  209
3    4       1    30       98       58  186
4    5       2    25       80       65  170
5    6       2    50       89       98  237
6    7       2    80       90       45  215
7    8       2    90       78       25  193
8    9       3    20       98       15  133
9   10       3    50       98       45  193
10  11       3    65       65       65  195
11  12       3    45       85       32  162
12  13       4    46       98       65  209
13  14       4    48       87       12  147
14  15       4    75       56       78  209
15  16       4    58       98       65  221
16  17       5    65       68       98  231
17  18       5    80       78       90  248
18  19       5    89       68       87  244
19  20       5    78       83       58  219
==================================================
    id  nclass  math  english  science  new
0    1       1    50       98       50  198
1    2       1    60       97       60  217
2    3       1    45       86       78  209
3    4       1    30       98       58  186
4    5       2    25       80       65  170
5    6       2    50       89       98  237
6    7       2    80       90       45  215
7    8       2    90       78       25  193
8    9       3    20       98       15  133
9   10       3    50       98       45  193
10  11       3    65       65       65  195
11  12       3    45       85       32  162
12  13       4    46       98       65  209
13  14       4    48       87       12  147
14  15       4    75       56       78  209
15  16       4    58       98       65  221
16  17       5    65       68       98  231
17  18       5    80       78       90  248
18  19       5    89       68       87  244
19  20       5    78       83       58  219

- 여러 개의 파생 변수를 만들 때 앞에서 만든 변수를 활용해 다시 변수 만들기

In [10]:
e1 = exam.assign(total = exam['math'] + exam['english'] + exam['science'], 
            mean = (exam['math'] + exam['english'] + exam['science']) / 3)
print(e1)
print("==============================================")

    id  nclass  math  english  science  total       mean
0    1       1    50       98       50    198  66.000000
1    2       1    60       97       60    217  72.333333
2    3       1    45       86       78    209  69.666667
3    4       1    30       98       58    186  62.000000
4    5       2    25       80       65    170  56.666667
5    6       2    50       89       98    237  79.000000
6    7       2    80       90       45    215  71.666667
7    8       2    90       78       25    193  64.333333
8    9       3    20       98       15    133  44.333333
9   10       3    50       98       45    193  64.333333
10  11       3    65       65       65    195  65.000000
11  12       3    45       85       32    162  54.000000
12  13       4    46       98       65    209  69.666667
13  14       4    48       87       12    147  49.000000
14  15       4    75       56       78    209  69.666667
15  16       4    58       98       65    221  73.666667
16  17       5    65       68       98    231  77.000000
17  18       5    80       78       90    248  82.666667
18  19       5    89       68       87    244  81.333333
19  20       5    78       83       58    219  73.000000
==============================================

In [11]:
e2 = exam.assign(total = exam['math'] + exam['english'] + exam['science'], 
                mean = lambda x: x['total'] / 3)
print(e2)
print("==============================================")

    id  nclass  math  english  science  total       mean
0    1       1    50       98       50    198  66.000000
1    2       1    60       97       60    217  72.333333
2    3       1    45       86       78    209  69.666667
3    4       1    30       98       58    186  62.000000
4    5       2    25       80       65    170  56.666667
5    6       2    50       89       98    237  79.000000
6    7       2    80       90       45    215  71.666667
7    8       2    90       78       25    193  64.333333
8    9       3    20       98       15    133  44.333333
9   10       3    50       98       45    193  64.333333
10  11       3    65       65       65    195  65.000000
11  12       3    45       85       32    162  54.000000
12  13       4    46       98       65    209  69.666667
13  14       4    48       87       12    147  49.000000
14  15       4    75       56       78    209  69.666667
15  16       4    58       98       65    221  73.666667
16  17       5    65       68       98    231  77.000000
17  18       5    80       78       90    248  82.666667
18  19       5    89       68       87    244  81.333333
19  20       5    78       83       58    219  73.000000
==============================================

In [12]:
e3 = exam.assign(total = lambda x: x['math'] + x['english'] + x['science'], 
                mean = lambda x: x['total'] / 3)
print(e3)

    id  nclass  math  english  science  total       mean
0    1       1    50       98       50    198  66.000000
1    2       1    60       97       60    217  72.333333
2    3       1    45       86       78    209  69.666667
3    4       1    30       98       58    186  62.000000
4    5       2    25       80       65    170  56.666667
5    6       2    50       89       98    237  79.000000
6    7       2    80       90       45    215  71.666667
7    8       2    90       78       25    193  64.333333
8    9       3    20       98       15    133  44.333333
9   10       3    50       98       45    193  64.333333
10  11       3    65       65       65    195  65.000000
11  12       3    45       85       32    162  54.000000
12  13       4    46       98       65    209  69.666667
13  14       4    48       87       12    147  49.000000
14  15       4    75       56       78    209  69.666667
15  16       4    58       98       65    221  73.666667
16  17       5    65       68       98    231  77.000000
17  18       5    80       78       90    248  82.666667
18  19       5    89       68       87    244  81.333333
19  20       5    78       83       58    219  73.000000

#### 연습문제
1. mpg.csv 파일을 읽어서 DataFrame 객체를 생성 - mpg.csv 파일은 미국 환경 보호국에서 공개한 데이터로 1999~2008년 미국에 출시된 자동차 234 종의 정보를 담고 있음
2. head( ) 함수를 이용하여 mpg 데이터 앞 부분 확인
3. info( ) 함수를 이용하여 mpg 데이터의 속성 확인
4. describe( ) 함수를 이용하여 요약 통계량 확인
5. cty와 hwy를 더한 값을 새로운 변수로 추가 - cty는 도시 연비, hwy는 고속도로 연비를 나타냄
6. cty와 hwy의 평균 값을 새로운 변수로 추가
7. 평균 연비가 가장 높은 자동차 3종의 데이터를 출력

In [14]:
# 1
mpg = pd.read_csv('mpg.csv')

# 2
print(mpg.head())

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl category
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [15]:
# 3
print(mpg.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  category      234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 20.2+ KB
None

In [16]:
# 4
print(mpg.describe())

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

In [17]:
# 5 cty와 hwy를 더한 값을 새로운 변수 total로 추가 - cty는 도시 연비, hwy는 고속도로 연비를 나타냄


# 6 cty와 hwy의 평균 값을 새로운 변수 total_mean으로 추가


# 출력

    manufacturer   model  displ  year  cyl       trans drv  cty  hwy fl  \
0           audi      a4    1.8  1999    4    auto(l5)   f   18   29  p
1           audi      a4    1.8  1999    4  manual(m5)   f   21   29  p
2           audi      a4    2.0  2008    4  manual(m6)   f   20   31  p
3           audi      a4    2.0  2008    4    auto(av)   f   21   30  p
4           audi      a4    2.8  1999    6    auto(l5)   f   16   26  p
..           ...     ...    ...   ...  ...         ...  ..  ...  ... ..
229   volkswagen  passat    2.0  2008    4    auto(s6)   f   19   28  p
230   volkswagen  passat    2.0  2008    4  manual(m6)   f   21   29  p
231   volkswagen  passat    2.8  1999    6    auto(l5)   f   16   26  p
232   volkswagen  passat    2.8  1999    6  manual(m5)   f   18   26  p
233   volkswagen  passat    3.6  2008    6    auto(s6)   f   17   26  p

    category  total  total_mean
0    compact     47        23.5
1    compact     50        25.0
2    compact     51        25.5
3    compact     51        25.5
4    compact     42        21.0
..       ...    ...         ...
229  midsize     47        23.5
230  midsize     50        25.0
231  midsize     42        21.0
232  midsize     44        22.0
233  midsize     43        21.5

[234 rows x 13 columns]

In [18]:
# 5, 6을 lambda 사용하여 수행

    manufacturer   model  displ  year  cyl       trans drv  cty  hwy fl  \
0           audi      a4    1.8  1999    4    auto(l5)   f   18   29  p
1           audi      a4    1.8  1999    4  manual(m5)   f   21   29  p
2           audi      a4    2.0  2008    4  manual(m6)   f   20   31  p
3           audi      a4    2.0  2008    4    auto(av)   f   21   30  p
4           audi      a4    2.8  1999    6    auto(l5)   f   16   26  p
..           ...     ...    ...   ...  ...         ...  ..  ...  ... ..
229   volkswagen  passat    2.0  2008    4    auto(s6)   f   19   28  p
230   volkswagen  passat    2.0  2008    4  manual(m6)   f   21   29  p
231   volkswagen  passat    2.8  1999    6    auto(l5)   f   16   26  p
232   volkswagen  passat    2.8  1999    6  manual(m5)   f   18   26  p
233   volkswagen  passat    3.6  2008    6    auto(s6)   f   17   26  p

    category  total  total_mean
0    compact     47        23.5
1    compact     50        25.0
2    compact     51        25.5
3    compact     51        25.5
4    compact     42        21.0
..       ...    ...         ...
229  midsize     47        23.5
230  midsize     50        25.0
231  midsize     42        21.0
232  midsize     44        22.0
233  midsize     43        21.5

[234 rows x 13 columns]

In [19]:
# 7 평균 연비 가장 높은 자동차 3종 출력

    manufacturer       model  displ  year  cyl       trans drv  cty  hwy fl  \
221   volkswagen  new beetle    1.9  1999    4  manual(m5)   f   35   44  d
212   volkswagen       jetta    1.9  1999    4  manual(m5)   f   33   44  d
222   volkswagen  new beetle    1.9  1999    4    auto(l4)   f   29   41  d

       category  total  total_mean
221  subcompact     79        39.5
212     compact     77        38.5
222  subcompact     70        35.0

### 집단별로 요약하기
- 집단 별 평균이나 집단 별 빈도처럼 각 집단을 요약한 값을 구하는 경우 groupby( ) 함수와 agg( ) 함수 사용
- 집단 간에 어떤 차이가 있는지 쉽게 파악 가능

- 전체 요약 통계량 구하기

In [21]:
import pandas as pd

exam = pd.read_csv('exam.csv') 

# agg( ) 함수의 입력 : 요약값을 할당할 변수명 = ('사용할 변수명', '함수명')
agg1 = exam.agg(mean_math = ('math', 'mean'))
print(agg1)

            math
mean_math  57.45

- 집단 별 요약 통계량 구하기

In [22]:
# groupby( ) 함수 : 데이터를 범주로 나누어 구분 - 위 예에서는 nclass 값으로 그룹을 분리
# agg( ) 함수 : 구분된 그룹별로 통계량 계산
agg2 = exam.groupby('nclass').agg(mean_math = ('math', 'mean'))
print(agg2)

        mean_math
nclass
1           46.25
2           61.25
3           45.00
4           56.75
5           78.00

In [23]:
# as_index = False : nclass 변수를 인덱스로 바꾸지 않고 원래대로 유지
agg3 = exam.groupby('nclass', as_index = False).agg(mean_math = ('math', 'mean'))
print(agg3)

   nclass  mean_math
0       1      46.25
1       2      61.25
2       3      45.00
3       4      56.75
4       5      78.00

- 여러 요약 통계량 한 번에 구하기

In [24]:
# nclass로 그룹을 나누어, math 변수에 대한 평균, 합계, 중간값, nclass의 개수를 계산
agg4 = exam.groupby('nclass').agg(mean_math = ('math', 'mean'), sum_math = ('math', 'sum'), median_math = ('math', 'median'), n = ('nclass', 'count'))
print(agg4)

        mean_math  sum_math  median_math  n
nclass
1           46.25       185         47.5  4
2           61.25       245         65.0  4
3           45.00       180         47.5  4
4           56.75       227         53.0  4
5           78.00       312         79.0  4

In [25]:
# 위 코드를 아래와 같이 줄을 구분하여 작성할 수 있음
agg5 = exam.groupby('nclass') \
        .agg(mean_math = ('math', 'mean'), 
             sum_math = ('math', 'sum'), 
             median_math = ('math', 'median'), 
             n = ('nclass', 'count'))
print(agg5)

        mean_math  sum_math  median_math  n
nclass
1           46.25       185         47.5  4
2           61.25       245         65.0  4
3           45.00       180         47.5  4
4           56.75       227         53.0  4
5           78.00       312         79.0  4

- agg( ) 함수에 자주 사용하는 요약 통계량 함수
  - mean( ), sum( ), std( ), median( ), min( ), max( ), count( )

- 집단별로 다시 집단 나누기
  - groupby( ) 함수에 여러 변수를 지정하면 집단을 나눈 다음 다시 하위 집단으로 나눌 수 있음

In [26]:
m1 = mpg.groupby(['manufacturer', 'drv']).agg(mean_cty = ('cty', 'mean'))
print(m1)

                   mean_cty
manufacturer drv
audi         4    16.818182
             f    18.857143
chevrolet    4    12.500000
             f    18.800000
             r    14.100000
dodge        4    12.000000
             f    15.818182
ford         4    13.307692
             r    14.750000
honda        f    24.444444
hyundai      f    18.642857
jeep         4    13.500000
land rover   4    11.500000
lincoln      r    11.333333
mercury      4    13.250000
nissan       4    13.750000
             f    20.000000
pontiac      f    17.000000
subaru       4    19.285714
toyota       4    14.933333
             f    21.368421
volkswagen   f    20.925926

- pandas 함수 조합하기

##### Q. mpg 데이터에서 제조 회사별로 'suv' 자동차의 도시 및 고속도로 합산 연비 평균을 구해 내림차순으로 정렬하고 1~5위까지 출력하기
- 필요한 절차
  - 'suv' 카테고리 자동차 추출하기
  - 합산 연비 변수 만들기
  - 제조 회사별로 구분하기
  - 합산 연비 평균 구하기
  - 내림차순 정렬하기
  - 1~5위까지 출력하기

In [27]:
m2 = mpg.query('category == "suv"') \
        .assign(total = (mpg['cty'] + mpg['hwy']) / 2) \
        .groupby('manufacturer') \
        .agg(mean_total = ('total', 'mean')) \
        .sort_values('mean_total', ascending = False) \
        .head()
print(m2)

              mean_total
manufacturer
subaru         21.916667
toyota         16.312500
nissan         15.875000
mercury        15.625000
jeep           15.562500

### 데이터 합치기
- 여러 데이터를 합쳐 하나로 만든 다음 분석할 필요가 있는 경우
   - 예: 중간고사 데이터와 기말고사 데이터를 합쳐 하나로 만들어 분석

- 가로로 합치기
  - 한 데이터에 변수(열)을 추가하는 형태
  - 예: 중간고사 데이터에 기말고사 데이터를 합치는 경우
- 세로로 합치기
  - 데이터에 행을 추가하는 형태
  - 예: 학생 3명이 먼저 시험을 보고, 나중에 다른 학생 3명이 시험을 봤을 때 두 시험 데이터를 합치는 경우

- 가로로 합치기 예제

In [28]:
# 중간고사 데이터 만들기
test1 = pd.DataFrame({'id'      : [1, 2, 3, 4, 5],
                      'midterm' : [60, 80, 70, 90, 85]})

# 기말고사 데이터 만들기
test2 = pd.DataFrame({'id'    : [1, 2, 3, 4, 5],
                      'final' : [70, 83, 65, 95, 80]})

In [29]:
print(test1)

   id  midterm
0   1       60
1   2       80
2   3       70
3   4       90
4   5       85

In [30]:
print(test2)

   id  final
0   1     70
1   2     83
2   3     65
3   4     95
4   5     80

In [33]:
total = pd.merge(test1, test2, how = 'left', on = 'id') # id 기준으로 test1과 test2를 합쳐서 total에 할당
print(total)

   id  midterm  final
0   1       60     70
1   2       80     83
2   3       70     65
3   4       90     95
4   5       85     80

- 다른 데이터를 활용해 변수 추가하기
  - 예: 학생들의 시험 점수를 담은 exam 데이터를 분석하는데, 반별 담임교사 명단 데이터를 합쳐서 분석한다고 가정해보자

In [34]:
name = pd.DataFrame({'nclass' : [1, 2, 3, 4, 5],
                     'teacher' : ['kim', 'lee', 'park', 'choi', 'jung']})
print(name)

   nclass teacher
0       1     kim
1       2     lee
2       3    park
3       4    choi
4       5    jung

In [35]:
# nclass 변수를 기준으로 name 데이터의 teacher 변수를 exam 데이터에 추가
exam_new = pd.merge(exam, name, how = 'left', on = 'nclass')
print(exam_new)

    id  nclass  math  english  science teacher
0    1       1    50       98       50     kim
1    2       1    60       97       60     kim
2    3       1    45       86       78     kim
3    4       1    30       98       58     kim
4    5       2    25       80       65     lee
5    6       2    50       89       98     lee
6    7       2    80       90       45     lee
7    8       2    90       78       25     lee
8    9       3    20       98       15    park
9   10       3    50       98       45    park
10  11       3    65       65       65    park
11  12       3    45       85       32    park
12  13       4    46       98       65    choi
13  14       4    48       87       12    choi
14  15       4    75       56       78    choi
15  16       4    58       98       65    choi
16  17       5    65       68       98    jung
17  18       5    80       78       90    jung
18  19       5    89       68       87    jung
19  20       5    78       83       58    jung

- 세로로 합치기 예제

In [36]:
# 학생 1~5번 시험 데이터 만들기
group_a = pd.DataFrame({'id'   : [1, 2, 3, 4, 5],
                        'test' : [60, 80, 70, 90, 85]})

# 학생 6~10번 시험 데이터 만들기
group_b = pd.DataFrame({'id'   : [6, 7, 8, 9, 10],
                        'test' : [70, 83, 65, 95, 80]})

In [37]:
print(group_a)

   id  test
0   1    60
1   2    80
2   3    70
3   4    90
4   5    85

In [38]:
print(group_b)

   id  test
0   6    70
1   7    83
2   8    65
3   9    95
4  10    80

In [39]:
group_all = pd.concat([group_a, group_b])
print(group_all)

# 아래 출력 결과에서 인덱스 0~4가 중복됨

   id  test
0   1    60
1   2    80
2   3    70
3   4    90
4   5    85
0   6    70
1   7    83
2   8    65
3   9    95
4  10    80

In [40]:
group_all = pd.concat([group_a, group_b], ignore_index = True) # 인덱스 번호를 새로 부여하기 위해 ignore_index = True 추가
print(group_all)

   id  test
0   1    60
1   2    80
2   3    70
3   4    90
4   5    85
5   6    70
6   7    83
7   8    65
8   9    95
9  10    80

##### merge( ), concat( ) 함수 참고

- pandas.merge(left, right, how='inner', on=None)
  - left, right: 결합할 DateFrame
  - how: 병합 방식 ('inner': 양쪽 테이블 모두에 존재하는 변수 조합 사용, 'outer': 양쪽 테이블에 존재하는 모든 변수 조합 사용, 'left': 왼쪽 테이블에 존재하는 모든 변수 조합 사용, 'right': 오른쪽 테이블에 존재하는 모든 변수 조합 사용)
  - on: 병합 기준 변수

- pandas.concat(df_list, axis=0, join='outer')
  - df_list: 결합할 DateFrame의 리스트
  - axis: 0이면 테이블의 행을 늘려서 결합, 1이면 테이블의 열을 늘려서 결합
  - join: 테이블을 결합할 때 변수를 어떻게 사용할지 결정. 'outer'이면 양쪽 DataFrame 변수의 합집합으로 생성하고 'inner'이면 변수의 교집합으로 생성

In [41]:
# 중간고사 데이터 만들기
test1 = pd.DataFrame({'id'      : [1, 2, 3, 4, 5],
                      'midterm' : [60, 80, 70, 90, 85]})

# 기말고사 데이터 만들기
test2 = pd.DataFrame({'id'    : [3, 4, 5, 6, 7],
                      'final' : [70, 83, 65, 95, 80]})

In [42]:
# id 기준으로 test1과 test2를 합쳐서 total에 할당
# how = 'left' : 왼쪽 DataFrame의 모든 키를 유지. 오른쪽에 없는 값은 NaN으로 채움.
total = pd.merge(test1, test2, how = 'left', on = 'id') 
print(total)

   id  midterm  final
0   1       60    NaN
1   2       80    NaN
2   3       70   70.0
3   4       90   83.0
4   5       85   65.0

In [43]:
# id 기준으로 test1과 test2를 합쳐서 total에 할당
# how = 'right' : 오른쪽 DataFrame의 모든 키를 유지. 왼쪽에 없는 값은 NaN으로 채움.
total = pd.merge(test1, test2, how = 'right', on = 'id')
print(total)

   id  midterm  final
0   3     70.0     70
1   4     90.0     83
2   5     85.0     65
3   6      NaN     95
4   7      NaN     80

In [44]:
# id 기준으로 test1과 test2를 합쳐서 total에 할당
# how = 'inner' : 두 DataFrame에서 겹치는 키 값만 결과에 포함. 공통 부분만 보고 싶을 때 사용.
total = pd.merge(test1, test2, how = 'inner', on = 'id') 
print(total)

   id  midterm  final
0   3       70     70
1   4       90     83
2   5       85     65

In [45]:
# id 기준으로 test1과 test2를 합쳐서 total에 할당
# how = 'outer' : 양쪽 DataFrame의 모든 키를 포함. 없는 부분은 NaN으로 채움.
total = pd.merge(test1, test2, how = 'outer', on = 'id') 
print(total)

   id  midterm  final
0   1     60.0    NaN
1   2     80.0    NaN
2   3     70.0   70.0
3   4     90.0   83.0
4   5     85.0   65.0
5   6      NaN   95.0
6   7      NaN   80.0